@font-face {
  font-family: Akzidenz;
  font-weight: 400;
  font-style: normal;
  src: url(assets/fonts/Akzidenz400.woff2) format("woff2"), url(assets/fonts/Akzidenz400.woff) format("woff")
}

@font-face {
  font-family: Akzidenz;
  font-weight: 500;
  font-style: normal;
  src: url(assets/fonts/Akzidenz500.woff2) format("woff2"), url(assets/fonts/Akzidenz500.woff) format("woff")
}

@font-face {
  font-family: Moteur;
  font-weight: 700;
  font-style: normal;
  src: url(assets/fonts/Moteur700.woff2) format("woff2"), url(assets/fonts/Moteur700.woff) format("woff")
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Akzidenz', sans-serif;
}

#view {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#world {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#world canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

#ui.game {
  pointer-events: none;
}

.button {
  transition: opacity 500ms, visibility 500ms;
  height: 15vw;
  position: absolute;
  left: 50%;
  width: 60vw;
  border-radius: 7.5vw;
  background: #fff;
  top: 78%;
  margin-left: -30vw;
  line-height: 15vw;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 5vw;
  opacity: 0;
  box-shadow: 0 2vw 3vw rgba(0,0,0,.2);
  cursor: pointer;
}

#ui.menu .button {
  opacity: 1;
}

#ui.game .button {
  opacity: 0;
  visibility: hidden;
}

h2 span {
  display: block;
}

h2 span:first-child {
  font-size: 0.5em;
}

h2 {
  transition: opacity 500ms;
  position: absolute;
  bottom: 78vh;
  left: 0;
  width: 100%;
  font-size: 20vw;
  font-family: 'Moteur', sans-serif;
  font-weight: 500;
  line-height: 0.95;
  height: 1.25em;
  text-align: center;
  opacity: 0;
}

#ui.menu h2 {
  opacity: 1;
}

#ui.game h2 {
  opacity: 0;
}

#time {
  transition: opacity 500ms;
  position: absolute;
  left: 0;
  bottom: 82vh;
  text-align: center;
  width: 100%;
  font-size: 16vw;
  opacity: 0;
}

#ui.game #time {
  opacity: 1;
}

#moves, #undo {
  display: none;
}

@media (min-aspect-ratio: 2/3) {
  h2 {
    font-size: 13.333vh;
  }

  .button {
    height: 10vw;
    width: 40vw;
    border-radius: 5vw;
    margin-left: -20vw;
    line-height: 10vw;
    font-size: 3.333vw;
    box-shadow: 0 1.333vw 2vw rgba(0,0,0,.2);
  }
}
