*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #dbddde 100%); */
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#game canvas {
  width: 100%;
  height: 100%;
}

#ui {
  position: absolute;
  z-index: 2;
}
