/*
 ██████ ███████ ███████     ██████  ███████ ███████ ███████ ████████
██      ██      ██          ██   ██ ██      ██      ██         ██
██      ███████ ███████     ██████  █████   ███████ █████      ██
██           ██      ██     ██   ██ ██           ██ ██         ██
 ██████ ███████ ███████     ██   ██ ███████ ███████ ███████    ██
*/

*, *:before, *:after {
  position: relative;
  box-sizing: inherit;
  cursor: inherit;
  font: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a img {
  border: none;
  outline: none;
}
input[type=text], textarea, button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input, textarea {
  cursor: text;
}
a, button, input[type="submit"] {
  cursor: pointer;
}
ul, ol {
  list-style: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto Mono', Menlo, Monaco, Courier, monospace;
  box-sizing: border-box;
  line-height: 1.2;
  font-weight: 400;
  background: #272f38;
  color: #a0b3c6;
  font-size: 1.6rem;
}

article, .container {
  width: 80vw;
  max-width: 84rem;
  margin: 0 auto;
}

article {
  padding: 8rem 0;
}

article h1 {
  line-height: 1.1;
  font-size: 4.4rem;
  color: #47ebb4;
}

article h2 {
  margin-top: 5rem;
  font-size: 3.2rem;
  color: #0aa370;
}

article p {
  line-height: 1.75;
}

article h1:after {
  content: '';
  display: inline-block;
  width: 0.3rem;
  background: #57718e;
  height: 4.6rem;
  vertical-align: bottom;
  margin-left: 1.6rem;
  animation: 1.25s blink step-end infinite;
}
@keyframes blink{ from, to { opacity: 0; } 50% { opacity:1; } }

article main p {
  margin-top: 3.5rem;
}

article intro p {
  margin-top: 5rem;
  display: block;
  color: #718ca1;
  font-size: 1.75rem;
}

.code, .code pre, .code code {
  background: #1d252c !important;
}

article .code {
  border-radius: 1.5rem;
  margin: 3.5rem -4rem;
  font-size: 1.5rem;
}

article .code pre {
   margin: 0 4rem;
   padding: 3rem 0;
}

#top-bar { display: none; }

#line-numbers {
  display: none;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  line-height: 3rem;
  color: #424e5a;
  overflow: hidden;
}

@media (max-width: 760px) {
  html { font-size: 8.5px; }
  article .code {
    margin: 3.5rem -10vw;
    border-radius: 0;
  }
  article .code pre {
    margin: 0 10vw;
  }
  .code code {
    white-space: pre-wrap !important;
    word-break: break-word !important;
  }
  article {
    padding: 7.2rem 0;
  }
}
