.back
  @include fullscreen
  transition: opacity 500ms ease
  opacity: 0

  $colors: #d1d5db #8abdff #E7C48D #BFB672 #e4c665

  @each $color in $colors
    $i: index($colors, $color)
    &--#{$i - 1}
      background-image: linear-gradient(to bottom, #ffffff 50%, $color 100%)
