.back
  @include fullscreen
  transition: opacity 500ms ease
  opacity: 0

  &--default
    background-image: linear-gradient(to bottom, #ffffff 50%, #d1d5db 100%)

  &--original
    background-image: linear-gradient(to bottom, #bdd4e7 50%, #5c84bd 100%)

  &--military
    background-image: linear-gradient(to bottom, #bab1a6 50%, #958e59 100%)
