.btn
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background-color: transparent
  border-radius: 0
  border-width: 0
  position: absolute
  pointer-events: all
  opacity: 0.5

  &:after
    position: absolute
    content: ''
    width: 3em
    height: 3em
    left: 50%
    top: 50%
    margin-left: -1.5em
    margin-top: -1.5em
    border-radius: 100%

  &--tr
    top: 1em
    right: 1em

  &--br
    bottom: 1em
    right: 1em

  &--tl
    top: 1em
    left: 1em

  &--bl
    bottom: 1em
    left: 1em
