.btn
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background-color: transparent
  border-radius: 0
  border-width: 0
  position: absolute
  pointer-events: all
  font-size: 1.75em
  transform: scale(0.6)
  opacity: 0.25

  &:after
    position: absolute
    content: ''
    width: 2em
    height: 2em
    left: 50%
    top: 50%
    margin-left: -1em
    margin-top: -1em
    border-radius: 100%

  &--tr
    top: 0.5em
    right: 0.5em

  &--br
    bottom: 0.5em
    right: 0.5em

  &--tl
    top: 0.5em
    left: 0.5em

  &--bl
    bottom: 0.5em
    left: 0.5em

  svg 
    display: block
