* {
  &,
  &:before,
  &:after {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: lowercase;
  }

  &:focus {
    outline: none;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  height: 100%;
  overflow: hidden;
  color: #070d15;
  background-image: linear-gradient(to bottom, #fff 50%, #e1e5eb 100%);
  cursor: default;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
}