// @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,900");

@import url('https://fonts.googleapis.com/css?family=Teko:400,700');

body {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  line-height: 1;
}

// @font-face {
//   font-family: 'Proxima';
//   src: url('../fonts/ProximaBlack.woff2') format('woff2'),
//        url('../fonts/ProximaBlack.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Proxima';
//   src: url('../fonts/ProximaBold.woff2') format('woff2'),
//        url('../fonts/ProximaBold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Proxima';
//   src: url('../fonts/ProximaRegular.woff2') format('woff2'),
//        url('../fonts/ProximaRegular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }