.range {
  width: 100%;
  width: 14em;

  &:not(:last-child) {
    margin-bottom: 1.5em;
  }

  &__label {
    position: relative;
    font-size: 0.9em;
    line-height: 0.75em;
    padding-bottom: 0.5em;
  }

  &__track {
    position: relative;
    height: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      background: rgba(#000, 0.2);
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: -0.5em;
      right: -0.5em;
    }
  }

  &__handle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;
    cursor: pointer;

    &:before {
      content: '';
      transition: transform 300ms;
      position: absolute;
      left: 0;
      top: 0;
      width: 0.9em;
      height: 0.9em;
      border-radius: 0.1em;
      margin-left: -0.45em;
      margin-top: -0.45em;
      background: #41aac8;
      border-bottom: 2px solid rgba(#000, 0.2);

      .range.is-active & {
        transform: scale(1.25);
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3em;
      height: 3em;
      margin-left: -1.5em;
      margin-top: -1.5em;
    }
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    padding-top: 0.5em;
    font-size: 0.6em;
    color: rgba(#000, 0.5);
  }
}

// ANIMATIONS

.range {
  $speed: 400ms;
  $delay: 100ms;
  $translate: 1em;
  $ease: cubic-bezier(0.25, 0.46, 0.45, 0.94); // out quadratic

  &__label,
  &__track:before,
  &__handle,
  &__list div {
    transition-property: transform, opacity;
    transition-duration: $speed;
    transition-timing-function: $ease;
    will-change: transform, opacity;
  }

  &__label {
    transform: translate3d(0, $translate, 0) scale3d(1, 1, 1);
    opacity: 0;
  }

  &__track:before {
    transform: translate3d(0, $translate, 0) scale3d(0, 1, 1);
    transform-origin: left center;
    opacity: 1;
  }

  &__handle {
    transform: translate3d(0, $translate, 0) scale3d(0.5, 0.5, 0.5);
    opacity: 0;
  }

  &__list div {
    transform: translate3d(0, $translate, 0) scale3d(1, 1, 1);
    opacity: 0;
  }

  &.is-active {
    .range {
      &__label,
      &__track:before,
      &__handle,
      &__list div {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        opacity: 1;
      }

      &__label {
        transition-delay: 0;
      }

      &__track:before {
        transition-delay: $delay;
      }

      &__handle {
        transition-delay: $delay;
        pointer-events: all;
      }

      &__list div {
        @for $i from 1 to 10 {
          &:nth-child(#{$i}) {
            transition-delay: ($delay * 2) + (($delay / 2) * $i);
          }
        }
      }
    }
  }

  &.is-inactive {
    .range {
      &__label,
      &__track:before,
      &__handle,
      &__list div {
        transition-delay: 0;
        opacity: 0;
      }

      &__label {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      }

      &__track:before {
        transform: translate3d(0, 0, 0) scale3d(0, 1, 1);
      }

      &__handle {
        transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
        pointer-events: unset;
      }

      &__list div {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      }
    }
  }
}
