.range {
  $hs: 0.5em;
  width: 100%;
  font-size: 9vw;
  @include breakpoint() {
    font-size: 9vh * 0.666;
  }

  &:not(:last-child) {
    margin-bottom: 0.8em;
  }

  &__label {
    padding-bottom: 0.5em;
    font-size: $hs;
    line-height: 0.75;
  }

  &__track {
    position: relative;
    height: $hs;
    margin-left: $hs / 2;
    margin-right: $hs / 2;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      background: rgba(#000, 0.2);
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: $hs / -2;
      right: $hs / -2;
    }
  }

  &__handle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;

    &:before {
      content: '';
      transition: transform 300ms;
      position: absolute;
      left: 0;
      top: 0;
      width: $hs;
      height: $hs;
      border-radius: 0.1em;
      margin-left: $hs / -2;
      margin-top: $hs / -2;
      background: #41aac8;
      border-bottom: 2px solid rgba(#000, 0.2);

      .range.is-active & {
        transform: scale(1.25);
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.2em;
      height: 1.2em;
      margin-left: -0.6em;
      margin-top: -0.6em;
      pointer-events: all;
    }
  }

  &__list {
    @include flexbox-display;
    @include flexbox-flow(row nowrap);
    @include flexbox-justify-content(space-between);
    position: relative;
    padding-top: 0.5em;
    font-size: 0.35em;
    color: rgba(#000, 0.5);
  }
}
