.text
  position: absolute
  left: 0
  right: 0
  text-align: center
  line-height: 0.75
  perspective: 100rem

  i
    display: inline-block

  &--title
    bottom: 75%
    font-size: 4.4em
    height: 1.2em
    z-index: 1

    span
      display: block

      &:first-child
        font-size: 0.5em
        margin-bottom: 0.2em

  &--note
    top: 87%
    font-size: 1em
    opacity: 0 !important
    z-index: 2

  &--timer
    bottom: 75%
    font-size: 3.5em
    height: 1.25em
    z-index: 3

  &--record
    bottom: 72%
    font-size: 1.5em
    z-index: 4
    opacity: 0

    i
      position: relative
      display: inline-block
      font-size: 0.9em
      top: -0.05em

// ANIMATIONS

.text
  &--title,
  &--timer
    $duration-show: 800ms
    $duration-hide: 400ms
    $letters: 6
    $letter-delay: 50ms

    opacity: 0

    i
      will-change: opacity, transform
      opacity: 0

    &.show
      animation-duration: ($letters + 1) * $letter-delay + $duration-show
      opacity: 1

      i
        opacity: 0
        animation: text-flip-in $duration-show $easeOutSine forwards
        @for $i from 1 to ($letters + 1)
          &:nth-child(#{$i})
            animation-delay: $letter-delay * $i

    &.hide
      animation-duration: ($letters + 1) * $letter-delay + $duration-hide
      opacity: 1

      i
        opacity: 1
        animation: text-flip-out $duration-hide $easeOutSine forwards
        @for $i from 1 to ($letters + 1)
          &:nth-child(#{$i})
            animation-delay: $letter-delay * $i

  &--note
    $duration-blink: 800ms
    $duration-show: 800ms
    $duration-hide: 400ms

    will-change: opacity
    opacity: 0

    span
      animation: text-blink $duration-blink $easeInOutSine infinite alternate
      will-change: opacity
      opacity: 0

    &.show
      animation: text-fade-in $duration-show $easeInOutSine forwards

    &.hide
      animation: text-fade-out $duration-hide $easeInOutSine forwards

  // KEYFRAMES

  @keyframes text-flip-in
    from
      opacity: 0
      transform: rotate3d(0, 1, 0, -80deg)
    to
      opacity: 1
      transform: rotate3d(0, 1, 0, 0deg)

  @keyframes text-flip-out
    from
      opacity: 1
      transform: rotate3d(0, 1, 0, 0deg)
    to
      opacity: 0
      transform: rotate3d(0, 1, 0, 80deg)

  @keyframes text-fade-in
    from
      opacity: 0
    to
      opacity: 1

  @keyframes text-fade-out
    from
      opacity: 1
    to
      opacity: 0

  @keyframes text-blink
        from
          opacity: 0
        to
          opacity: 1
