.text
  position: absolute
  left: 0
  right: 0
  text-align: center
  line-height: 0.75
  perspective: 100rem
  opacity: 0

  i
    display: inline-block
    opacity: 0

  &--title
    bottom: 75%
    font-size: 4.4em
    height: 1.2em
    z-index: 1

    span
      display: block

      &:first-child
        font-size: 0.5em
        margin-bottom: 0.2em

  &--note
    top: 87%
    font-size: 1em
    z-index: 2

  &--timer
    bottom: 75%
    font-size: 3.5em
    height: 1.25em
    z-index: 3

  &--record
    bottom: 72%
    font-size: 1.5em
    z-index: 4

    i
      position: relative
      display: inline-block
      font-size: 0.9em
      top: -0.05em