.ui
  &--theme
    &-default
      .back--default
        opacity: 1

      .range__handle:before
        background: #41aac8

    &-original
      .back--original
        opacity: 1

      .range__handle:before
        background: #0051ba

    &-military
      .back--military
        opacity: 1

      .range__handle:before
        background: #37431d
