.ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;

  &__main,
  &__options {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__main {
    z-index: 2;
    visibility: visible;
  }

  &__options {
    z-index: 1;
    visibility: hidden;
  }

  &__title {
    position: absolute;
    bottom: 75%;
    left: 0;
    width: 100%;
    font-size: 26vw;
    line-height: 0.7;
    text-align: center;
    height: 1em;
    letter-spacing: 0.025em;
    perspective: 100vw;
    opacity: 0;
    pointer-events: none;

    span {
      display: block;

      &:first-child {
        font-size: 0.5em;
        margin-bottom: 0.075em;
      }
    }

    i {
      transform-origin: 50% 100%;
      display: inline-block;
      white-space: pre;
    }

    @include breakpoint() {
      font-size: 26vh * 0.666;
    }
  }

  &__start {
    position: absolute;
    top: 87%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    opacity: 0;
    pointer-events: none;

    @include breakpoint() {
      font-size: 6vh * 0.666;
    }
  }

  &__timer {
    @include transition(opacity);
    position: absolute;
    bottom: 75%;
    left: 0;
    width: 100%;
    font-size: 20vw;
    line-height: 1.3;
    text-align: center;
    height: 1.3em;
    letter-spacing: -0.025em;
    perspective: 100vw;
    opacity: 0;
    pointer-events: none;

    i {
      transform-origin: 50% 100%;
      display: inline-block;
      white-space: pre;
    }

    @include breakpoint() {
      font-size: 20vh * 0.666;
    }
  }

  &__icon {
    position: absolute;
    font-size: 6vw;
    opacity: 0.25;
    pointer-events: all;

    @include breakpoint() {
      font-size: 6vh * 0.666;
    }

    &--audio {
      bottom: 4vw;
      right: 4vw;

      path {
        @include transition(opacity);

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          opacity: 0;
        }
      }

      &.is-active {
        path {
          &:nth-child(2) {
            opacity: 1;
          }

          &:nth-child(3) {
            opacity: 1;
          }
        }
      }
    }

    &--settings {
      bottom: 4vw;
      left: 4vw;
    }

    &--home {
      bottom: 4vw;
      left: 4vw;
      opacity: 0;
    }
  }

  &__time {
    position: absolute;
    left: 0;
    bottom: 84%;
    text-align: center;
    width: 100%;
    font-size: 16vw;
    opacity: 0;
  }

  &__moves,
  &__undo {
    display: none;
  }
}
