@import url("https://fonts.googleapis.com/css?family=Bungee");
*, *:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  cursor: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-transform: uppercase; }

*:focus {
  outline: none; }

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  height: 100%; }

body {
  font-family: 'Bungee', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
  overflow: hidden;
  height: 100%;
  font-size: 5rem; }

.icon {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125em;
  preserveAspectRatio: none; }

.range {
  position: relative;
  width: 100%;
  width: 14em;
  z-index: 1; }
  .range:not(:last-child) {
    margin-bottom: 1.5em; }
  .range__label {
    position: relative;
    font-size: 0.9em;
    line-height: 0.75em;
    padding-bottom: 0.5em;
    z-index: 2; }
  .range__track {
    position: relative;
    height: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    z-index: 3; }
    .range__track:before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: -0.5em;
      right: -0.5em; }
  .range__handle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;
    cursor: pointer;
    z-index: 1; }
    .range__handle:before {
      content: '';
      transition: transform 300ms;
      position: absolute;
      left: 0;
      top: 0;
      width: 0.9em;
      height: 0.9em;
      border-radius: 0.2em;
      margin-left: -0.45em;
      margin-top: -0.45em;
      background: #41aac8;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
      .range.is-active .range__handle:before {
        transform: scale(1.25); }
    .range__handle:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3em;
      height: 3em;
      margin-left: -1.5em;
      margin-top: -1.5em; }
  .range__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    padding-top: 0.5em;
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.5);
    z-index: 1; }

.range__label, .range__track:before, .range__handle,
.range__list div {
  transition-property: opacity, transform;
  will-change: opacity, transform;
  opacity: 0; }

.range__track:before {
  transform-origin: left center; }

.range .range__label {
  opacity: 0;
  transform: translate3d(0, 1em, 0); }

.range .range__track:before {
  opacity: 0;
  transform: translate3d(0, 1em, 0) scale3d(0, 1, 1); }

.range .range__handle {
  opacity: 0;
  transform: translate3d(0, 1em, 0) scale3d(0.5, 0.5, 0.5);
  pointer-events: none; }

.range .range__list div {
  opacity: 0;
  transform: translate3d(0, 1em, 0); }

.range.show .range__label, .range.show .range__track:before, .range.show .range__handle,
.range.show .range__list div {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 400ms; }

.range.show .range__label {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0; }

.range.show .range__track:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition-delay: 100ms; }

.range.show .range__handle {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition-delay: 100ms;
  pointer-events: all; }

.range.show .range__list div {
  opacity: 1;
  transform: translate3d(0, 0, 0); }
  .range.show .range__list div:nth-child(1) {
    transition-delay: 250ms; }
  .range.show .range__list div:nth-child(2) {
    transition-delay: 300ms; }
  .range.show .range__list div:nth-child(3) {
    transition-delay: 350ms; }
  .range.show .range__list div:nth-child(4) {
    transition-delay: 400ms; }
  .range.show .range__list div:nth-child(5) {
    transition-delay: 450ms; }

.range.hide .range__label, .range.hide .range__track:before, .range.hide .range__handle,
.range.hide .range__list div {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 200ms;
  transition-delay: 0ms; }

.range.hide .range__label {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }

.range.hide .range__track:before {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale3d(0, 1, 1); }

.range.hide .range__handle {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
  pointer-events: none; }

.range.hide .range__list div {
  opacity: 0;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  .range.hide .range__list div:nth-child(1) {
    transition-delay: 0ms; }
  .range.hide .range__list div:nth-child(2) {
    transition-delay: 0ms; }
  .range.hide .range__list div:nth-child(3) {
    transition-delay: 0ms; }
  .range.hide .range__list div:nth-child(4) {
    transition-delay: 0ms; }
  .range.hide .range__list div:nth-child(5) {
    transition-delay: 0ms; }

.text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0.75;
  perspective: 100rem; }
  .text i {
    display: inline-block; }
  .text--title {
    bottom: 75%;
    font-size: 4.4em;
    height: 1.2em;
    z-index: 1; }
    .text--title span {
      display: block; }
      .text--title span:first-child {
        font-size: 0.5em;
        margin-bottom: 0.2em; }
  .text--note {
    top: 87%;
    font-size: 1em;
    opacity: 0 !important;
    z-index: 2; }
  .text--timer {
    bottom: 75%;
    font-size: 3.5em;
    height: 1.25em;
    z-index: 3; }
  .text--record {
    bottom: 72%;
    font-size: 1.5em;
    z-index: 4;
    opacity: 0; }
    .text--record i {
      position: relative;
      display: inline-block;
      font-size: 0.9em;
      top: -0.05em; }

.text--title, .text--timer {
  opacity: 0; }
  .text--title i, .text--timer i {
    will-change: opacity, transform;
    opacity: 0; }
  .text--title.show, .text--timer.show {
    animation-duration: 1150ms;
    opacity: 1; }
    .text--title.show i, .text--timer.show i {
      opacity: 0;
      animation: text-flip-in 800ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards; }
      .text--title.show i:nth-child(1), .text--timer.show i:nth-child(1) {
        animation-delay: 50ms; }
      .text--title.show i:nth-child(2), .text--timer.show i:nth-child(2) {
        animation-delay: 100ms; }
      .text--title.show i:nth-child(3), .text--timer.show i:nth-child(3) {
        animation-delay: 150ms; }
      .text--title.show i:nth-child(4), .text--timer.show i:nth-child(4) {
        animation-delay: 200ms; }
      .text--title.show i:nth-child(5), .text--timer.show i:nth-child(5) {
        animation-delay: 250ms; }
      .text--title.show i:nth-child(6), .text--timer.show i:nth-child(6) {
        animation-delay: 300ms; }
  .text--title.hide, .text--timer.hide {
    animation-duration: 750ms;
    opacity: 1; }
    .text--title.hide i, .text--timer.hide i {
      opacity: 1;
      animation: text-flip-out 400ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards; }
      .text--title.hide i:nth-child(1), .text--timer.hide i:nth-child(1) {
        animation-delay: 50ms; }
      .text--title.hide i:nth-child(2), .text--timer.hide i:nth-child(2) {
        animation-delay: 100ms; }
      .text--title.hide i:nth-child(3), .text--timer.hide i:nth-child(3) {
        animation-delay: 150ms; }
      .text--title.hide i:nth-child(4), .text--timer.hide i:nth-child(4) {
        animation-delay: 200ms; }
      .text--title.hide i:nth-child(5), .text--timer.hide i:nth-child(5) {
        animation-delay: 250ms; }
      .text--title.hide i:nth-child(6), .text--timer.hide i:nth-child(6) {
        animation-delay: 300ms; }

.text--note {
  will-change: opacity;
  opacity: 0; }
  .text--note span {
    animation: text-blink 800ms cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
    will-change: opacity;
    opacity: 0; }
  .text--note.show {
    animation: text-fade-in 800ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards; }
  .text--note.hide {
    animation: text-fade-out 400ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards; }

@keyframes text-flip-in {
  from {
    opacity: 0;
    transform: rotate3d(0, 1, 0, -80deg); }
  to {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); } }

@keyframes text-flip-out {
  from {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg); }
  to {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 80deg); } }

@keyframes text-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes text-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes text-blink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  position: absolute;
  pointer-events: all;
  opacity: 0.5; }
  .btn:after {
    position: absolute;
    content: '';
    width: 3em;
    height: 3em;
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -1.5em;
    border-radius: 100%; }
  .btn--tr {
    top: 1em;
    right: 1em; }
  .btn--br {
    bottom: 1em;
    right: 1em; }
  .btn--tl {
    top: 1em;
    left: 1em; }
  .btn--bl {
    bottom: 1em;
    left: 1em; }

.ui {
  pointer-events: none;
  background-image: linear-gradient(to bottom, #fff 50%, #e1e5eb 100%);
  color: #070d15; }
  .ui, .ui__game, .ui__texts, .ui__prefs, .ui__buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .ui__game {
    pointer-events: all;
    z-index: 1; }
    .ui__game canvas {
      display: block;
      width: 100%;
      height: 100%; }
  .ui__texts {
    z-index: 2; }
  .ui__prefs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3; }
  .ui__buttons {
    z-index: 4; }
