@import url("https://fonts.googleapis.com/css?family=Bungee");
*, *:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  cursor: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-transform: uppercase; }

*:focus {
  outline: none; }

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%; }

body {
  background-image: linear-gradient(to bottom, #fff 50%, #e1e5eb 100%);
  font-family: 'Bungee', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #070d15;
  cursor: default;
  overflow: hidden;
  height: 100%;
  font-size: 5rem; }

.icon {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125em;
  preserveAspectRatio: none; }

.range {
  width: 100%;
  width: 14em; }
  .range:not(:last-child) {
    margin-bottom: 1.5em; }
  .range__label {
    position: relative;
    font-size: 0.9em;
    line-height: 0.75em;
    padding-bottom: 0.5em; }
  .range__track {
    position: relative;
    height: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    z-index: 2; }
    .range__track:before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: -0.5em;
      right: -0.5em; }
  .range__handle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;
    cursor: pointer; }
    .range__handle:before {
      content: '';
      transition: transform 300ms;
      position: absolute;
      left: 0;
      top: 0;
      width: 0.9em;
      height: 0.9em;
      border-radius: 0.1em;
      margin-left: -0.45em;
      margin-top: -0.45em;
      background: #41aac8;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
      .range.is-active .range__handle:before {
        transform: scale(1.25); }
    .range__handle:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3em;
      height: 3em;
      margin-left: -1.5em;
      margin-top: -1.5em; }
  .range__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    padding-top: 0.5em;
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.5); }

.range__label, .range__track:before, .range__handle,
.range__list div {
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform, opacity; }

.range__label {
  transform: translate3d(0, 1em, 0) scale3d(1, 1, 1);
  opacity: 0; }

.range__track:before {
  transform: translate3d(0, 1em, 0) scale3d(0, 1, 1);
  transform-origin: left center;
  opacity: 1; }

.range__handle {
  transform: translate3d(0, 1em, 0) scale3d(0.5, 0.5, 0.5);
  opacity: 0; }

.range__list div {
  transform: translate3d(0, 1em, 0) scale3d(1, 1, 1);
  opacity: 0; }

.range.is-active .range__label, .range.is-active .range__track:before, .range.is-active .range__handle,
.range.is-active .range__list div {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  opacity: 1; }

.range.is-active .range__label {
  transition-delay: 0; }

.range.is-active .range__track:before {
  transition-delay: 100ms; }

.range.is-active .range__handle {
  transition-delay: 100ms;
  pointer-events: all; }

.range.is-active .range__list div:nth-child(1) {
  transition-delay: 250ms; }

.range.is-active .range__list div:nth-child(2) {
  transition-delay: 300ms; }

.range.is-active .range__list div:nth-child(3) {
  transition-delay: 350ms; }

.range.is-active .range__list div:nth-child(4) {
  transition-delay: 400ms; }

.range.is-active .range__list div:nth-child(5) {
  transition-delay: 450ms; }

.range.is-active .range__list div:nth-child(6) {
  transition-delay: 500ms; }

.range.is-active .range__list div:nth-child(7) {
  transition-delay: 550ms; }

.range.is-active .range__list div:nth-child(8) {
  transition-delay: 600ms; }

.range.is-active .range__list div:nth-child(9) {
  transition-delay: 650ms; }

.range.is-inactive .range__label, .range.is-inactive .range__track:before, .range.is-inactive .range__handle,
.range.is-inactive .range__list div {
  transition-delay: 0;
  opacity: 0; }

.range.is-inactive .range__label {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }

.range.is-inactive .range__track:before {
  transform: translate3d(0, 0, 0) scale3d(0, 1, 1); }

.range.is-inactive .range__handle {
  transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
  pointer-events: unset; }

.range.is-inactive .range__list div {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }

.btn {
  transition: transform 300ms ease, opacity 300ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  position: absolute;
  pointer-events: all;
  opacity: 0; }
  .btn--tr {
    top: 1em;
    right: 1em;
    transform: translate3d(1em, -1em, 0); }
  .btn--br {
    bottom: 1em;
    right: 1em;
    transform: translate3d(1em, 1em, 0); }
  .btn--tl {
    top: 1em;
    left: 1em;
    transform: translate3d(-1em, -1em, 0); }
  .btn--bl {
    bottom: 1em;
    left: 1em;
    transform: translate3d(-1em, 1em, 0); }

.ui {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  .ui__screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .ui__screen--game {
      z-index: 1; }
    .ui__screen--menu {
      z-index: 2; }
    .ui__screen--prefs {
      z-index: 3; }
  .ui__text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 0.75;
    opacity: 0;
    perspective: 100rem; }
    .ui__text i {
      display: inline-block; }
    .ui__text--title {
      bottom: 75%;
      font-size: 4.4em;
      height: 1.2em; }
      .ui__text--title span {
        display: block; }
        .ui__text--title span:first-child {
          font-size: 0.5em;
          margin-bottom: 0.2em; }
    .ui__text--note {
      top: 87%;
      font-size: 1em; }
    .ui__text--timer {
      bottom: 75%;
      font-size: 3.5em;
      height: 1.25em; }
  .ui__game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all; }
    .ui__game canvas {
      display: block;
      width: 100%;
      height: 100%; }
  .ui__prefs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 300ms ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; }

.ui__game {
  opacity: 0 !important; }

.ui__text--timer, .ui__text--title, .ui__text--note {
  opacity: 0 !important; }
