@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=latin-ext');

$blue: #38f;

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-style: inherit;
  line-height: inherit;
  box-sizing: border-box;
  cursor: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #000;
  color: #bbb;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.cnt {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1200px;
}

%glow {
   text-shadow: 0 0 0.5em currentColor;
}

.icon {
  display: block;
}

.hero {
  position: relative;
  padding: 40px 0 40px;

  &__helix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;

    &-main,
    &-blur {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    &-blur {
      filter: blur(10px);
      transform-origin: top left;
      transform: scale3d(4, 4, 4);
      opacity: 0.5;
      z-index: -2;
    }

    &-main {
      z-index: -1;
    }
  }

  &__content {
    position: relative;
    padding: 280px 0 20px;
  }

  &__title {
    @extend %glow;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 10px;
    color: #fff;
  }

  &__subtitle {
    font-size: 20px;
    color: $blue;
    @extend %glow;
  }

  &__text {
    margin-top: 15px;
  }

  &__social {
    text-align: right;
  }
}

.social {
  white-space: nowrap;

  &__icon {
    transition: color 300ms ease;
    font-size: 0;
    display: inline-block;
    vertical-align: top;

    &:hover {
      color: $blue;
    }

    .icon {
      font-size: 32px;
      filter: drop-shadow(0 0 0.1em currentColor);
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.section {
  padding: 40px 0;

  &__title {
    font-size: 26px;
    margin-bottom: 40px;
    color: #fff;
    @extend %glow;
  }
}

.list {
  &__item {
    position: relative;
    padding-left: 40px;
    padding-right: 10px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      top: 10px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $blue;
      z-index: 2;
    }

    &:not(:last-child) {
      padding-bottom: 30px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 7px;
        width: 1px;
        background: #333;
        top: 20px;
        bottom: -5px;
        z-index: 1;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 3px;
    display: inline-block;
    color: #fff;
  }

  &__time {
    font-size: 15px;
    color: $blue;
  }

  &__text {
    font-size: 15px;
    margin-top: 10px;

    i {
      color: $blue;
    }
  }
}
